.home-container {
    width: 1440px;
    height: 900px;
}

.home-container-title {
    width: 580px;
    height: 128px;

    margin-top: 179px;
    margin-left: 120px;

    font-weight: bold;
    font-size: 48px;
    line-height: 64px;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #062847;
}

.home-container-text {
    width: 612px;
    height: 216px;
    padding-bottom: 48px;

    margin-top: 24px;
    margin-left: 120px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;

    color: #5a6774;
}

.button-start-btn {
    margin-left: 120px;
}
