.container-profile {
    margin-top: 54px;
    margin-left: 90px;

    height: 387px;
    width: 1251px;
    border-radius: 8px;

    background: #f5f5f5;
    border-radius: 8px;
}

.container-informations {
    display: flex;
}

.principal-informations {
    margin-top: 23px;
    margin-left: 44px;
}

.smaller-informations {
    display: flex;

    height: 20px;
}

.smaller-informations p {
    font-size: 12px;
    line-height: 20px;
    margin-top: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #595959;
}

.public-repository {
    width: 163px;
    height: 22px;
    margin-right: 8px;

    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
}

.followers {
    width: 118px;
    height: 22px;
    left: 171px;
    top: 0px;
    margin-right: 8px;

    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
}

.following {
    width: 105px;
    height: 22px;
    left: 297px;
    top: 0px;

    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
}

.profile-card-image {
    margin-top: 23px;
    margin-left: 30px;

    width: 284px;
    height: 280px;
}

.container-data {
    height: 247px;
    width: 870px;
    padding-left: 17px;
    padding-top: 8px;

    margin-top: 12px;

    background: #ffffff;

    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 6px;
}

.data-title {
    width: 534px;
    height: 28px;

    margin-top: 0;
    margin-bottom: 19px;

    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    display: flex;
    align-items: center;

    color: #1890ff;
}

.data-informations {
    height: 40px;
    width: 839px;

    padding: 8px 10px 8px 10px;

    margin-top: 5px;

    background: #ffffff;

    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
}

.data-information-container {
    height: 24px;
    width: 795px;

    display: flex;
    align-items: center;
}

.data-informations-topic {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #737373;
}

.data-topic-value {
    margin-left: 5px;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #737373;
}

.button-position {
    margin-top: 17px;
    margin-left: 30px;
}
